.new-example {
    border: 1px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.alert-danger {
    background-color: red;
    color: white;
}

.alert-success {
    background-color: green;
    color: white;
}