<h3>Here is the pipes page</h3>

<p>First item is piped value and second is normal value</p>

<ul>
    <li>UpperCasePipe: "{{upperCaseString | uppercase}}" vs "{{upperCaseString}}"</li>
    <li>CurrencyPipe: "{{price | currency: 'USD'}}" vs "{{price}}"</li>
    <li>JsonPipe: "{{randomObject | json}}" vs "{{randomObject}}</li>
    <li>DatePipe: "{{today | date:'fullDate'}}" vs "{{today}}"</li>
    <li>PercentPipe: "{{percentValue | percent}}" vs "{{percentValue}}"</li>
    <li>Custom KebabCasePipe: "{{toKebabCaseString | kebabCase}}" vs "{{toKebabCaseString}}"</li>
</ul>

